In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv')

In [10]:
df.head(20)

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na
5,01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2015,9,67.4,3,33.3,6,66.7,0,0,na,na
6,01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2016,15,72.6,2,13.3,13,86.7,5,33.3,na,na
7,01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2017,9,64.4,5,55.6,4,44.4,1,11.1,na,na
8,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2015,49,78.4,1,2,48,98,23,46.9,48,98
9,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2016,51,79,9,17.6,42,82.4,33,64.7,40,78.4
10,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2017,51,84.8,0,0,51,100,44,86.3,50,98
11,01M184,P.S. 184m Shuang Wen,K-8,Living Environment,2017,55,83.9,1,1.8,54,98.2,43,78.2,na,na
12,01M188,P.S. 188 The Island School,K-8,Common Core Algebra,2015,23,62.9,14,60.9,9,39.1,0,0,2,8.7
13,01M188,P.S. 188 The Island School,K-8,Common Core Algebra,2016,22,69,6,27.3,16,72.7,2,9.1,15,68.2
14,01M188,P.S. 188 The Island School,K-8,Common Core Algebra,2017,20,67.4,7,35,13,65,1,5,10,50
15,01M188,P.S. 188 The Island School,K-8,Common Core English,2016,1,s,s,s,s,s,s,s,na,na
16,01M188,P.S. 188 The Island School,K-8,Living Environment,2016,17,62.1,9,52.9,8,47.1,0,0,na,na
17,01M188,P.S. 188 The Island School,K-8,Living Environment,2017,3,s,s,s,s,s,s,s,na,na
18,01M292,Orchard Collegiate Academy,High school,Algebra2/Trigonometry,2015,5,s,s,s,s,s,s,s,na,na
19,01M292,Orchard Collegiate Academy,High school,Algebra2/Trigonometry,2016,5,s,s,s,s,s,s,s,na,na

In [11]:
df.tail(10)

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
212321,84X717,Icahn Charter School,K-8,Common Core Algebra,2016,6,87.2,0,0,6,100,6,100,6,100
212322,84X717,Icahn Charter School,K-8,Common Core Algebra,2017,6,87,0,0,6,100,6,100,6,100
212323,84X717,Icahn Charter School,K-8,Common Core Algebra,2017,6,88.3,0,0,6,100,5,83.3,6,100
212324,84X717,Icahn Charter School,K-8,Living Environment,2015,8,76.5,1,12.5,7,87.5,2,25,na,na
212325,84X717,Icahn Charter School,K-8,Living Environment,2015,6,79.8,0,0,6,100,2,33.3,na,na
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,s,s,s,s,s,s,s,na,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,s,s,s,s,s,s,s,na,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,s,s,s,s,s,s,s,na,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,s,s,s,s,s,s,s,na,na
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,s,s,s,s,s,s,s,na,na

In [12]:
df.count()

School DBN                     212331
School Name                    212331
School Level                   212331
Regents Exam                   212321
Year                           212331
Total Tested                   212331
Mean Score                     212331
Number Scoring Below 65        212331
Percent Scoring Below 65       212331
Number Scoring 65 or Above     212331
Percent Scoring 65 or Above    212331
Number Scoring 80 or Above     212331
Percent Scoring 80 or Above    212331
Number Scoring CR              212331
Percent Scoring CR             212331
dtype: int64

In [13]:
df.describe()

                Year   Total Tested
count  212331.000000  212331.000000
mean     2015.956069      49.364200
std         0.799726      93.023576
min      2015.000000       1.000000
25%      2015.000000       5.000000
50%      2016.000000      20.000000
75%      2017.000000      57.000000
max      2017.000000    1729.000000

In [14]:
df.isnull()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212327,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212328,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212329,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212330,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
df.isnull().sum()

School DBN                      0
School Name                     0
School Level                    0
Regents Exam                   10
Year                            0
Total Tested                    0
Mean Score                      0
Number Scoring Below 65         0
Percent Scoring Below 65        0
Number Scoring 65 or Above      0
Percent Scoring 65 or Above     0
Number Scoring 80 or Above      0
Percent Scoring 80 or Above     0
Number Scoring CR               0
Percent Scoring CR              0
dtype: int64

In [16]:
df.notnull()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
212327,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
212328,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
212329,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
212330,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [17]:
df.notnull().sum()

School DBN                     212331
School Name                    212331
School Level                   212331
Regents Exam                   212321
Year                           212331
Total Tested                   212331
Mean Score                     212331
Number Scoring Below 65        212331
Percent Scoring Below 65       212331
Number Scoring 65 or Above     212331
Percent Scoring 65 or Above    212331
Number Scoring 80 or Above     212331
Percent Scoring 80 or Above    212331
Number Scoring CR              212331
Percent Scoring CR             212331
dtype: int64

In [32]:
df.replace('s', '<5')

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,<5,<5,<5,<5,<5,<5,<5,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,<5,<5,<5,<5,<5,<5,<5,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,<5,<5,<5,<5,<5,<5,<5,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,<5,<5,<5,<5,<5,<5,<5,na,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,<5,<5,<5,<5,<5,<5,<5,na,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,<5,<5,<5,<5,<5,<5,<5,na,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,<5,<5,<5,<5,<5,<5,<5,na,na
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,<5,<5,<5,<5,<5,<5,<5,na,na

In [36]:
df1st=df[df['School Name'] == 'P.S. 184m Shuang Wen']
print(df1st)

       School DBN           School Name School Level         Regents Exam  \
8          01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
9          01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
10         01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
11         01M184  P.S. 184m Shuang Wen          K-8   Living Environment
19489      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
19490      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
19491      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
19492      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
19493      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
19494      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
19495      01M184  P.S. 184m Shuang Wen          K-8   Living Environment
54250      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54251      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54252      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54253      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54254      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54255      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54256      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54257      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54258      01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
54259      01M184  P.S. 184m Shuang Wen          K-8   Living Environment
54260      01M184  P.S. 184m Shuang Wen          K-8   Living Environment
102895     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
102896     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
102897     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
102898     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
102899     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
102900     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
102901     01M184  P.S. 184m Shuang Wen          K-8   Living Environment
102902     01M184  P.S. 184m Shuang Wen          K-8   Living Environment
139903     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139904     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139905     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139906     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139907     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139908     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139909     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139910     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139911     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139912     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139913     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139914     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139915     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139916     01M184  P.S. 184m Shuang Wen          K-8  Common Core Algebra
139917     01M184  P.S. 184m Shuang Wen          K-8   Living Environment
139918     01M184  P.S. 184m Shuang Wen          K-8   Living Environment
139919     01M184  P.S. 184m Shuang Wen          K-8   Living Environment
139920     01M184  P.S. 184m Shuang Wen          K-8   Living Environment
139921     01M184  P.S. 184m Shuang Wen          K-8   Living Environment

        Year  Total Tested Mean Score Number Scoring Below 65  \
8       2015            49       78.4                       1
9       2016            51         79                       9
10      2017            51       84.8                       0
11      2017            55       83.9                       1
19489   2015            47          s                       s
19490   2015             2          s                       s
19491   2016            46          s                       s
19492   2016             5          s                       s
19493   2017            50          s                       s
19494   2017             1          s                       s
19495   2017            55       83.9                       1
54250   2015             1          s                       s
54251   2015            36         78                       1
54252   2015            12          s                       s
54253   2016             5          s                       s
54254   2016            35       77.9                       7
54255   2016            11          s                       s
54256   2017             1          s                       s
54257   2017            38       85.2                       0
54258   2017            12          s                       s
54259   2017            43         84                       1
54260   2017            12       83.5                       0
102895  2015            28         78                       0
102896  2015            21       78.9                       1
102897  2016            27         77                       6
102898  2016            24       81.3                       3
102899  2017            27       83.9                       0
102900  2017            24       85.9                       0
102901  2017            31       82.2                       1
102902  2017            24       86.1                       0
139903  2015            42       79.1                       0
139904  2015             3          s                       s
139905  2015             2          s                       s
139906  2015             2          s                       s
139907  2016            38       83.8                       2
139908  2016             3          s                       s
139909  2016             5          s                       s
139910  2016             2          s                       s
139911  2016             3          s                       s
139912  2017            41       84.9                       0
139913  2017             2          s                       s
139914  2017             3          s                       s
139915  2017             1          s                       s
139916  2017             4          s                       s
139917  2017            42       84.3                       0
139918  2017             3          s                       s
139919  2017             4          s                       s
139920  2017             1          s                       s
139921  2017             5          s                       s

       Percent Scoring Below 65 Number Scoring 65 or Above  \
8                             2                         48
9                          17.6                         42
10                            0                         51
11                          1.8                         54
19489                         s                          s
19490                         s                          s
19491                         s                          s
19492                         s                          s
19493                         s                          s
19494                         s                          s
19495                       1.8                         54
54250                         s                          s
54251                       2.8                         35
54252                         s                          s
54253                         s                          s
54254                        20                         28
54255                         s                          s
54256                         s                          s
54257                         0                         38
54258                         s                          s
54259                       2.3                         42
54260                         0                         12
102895                        0                         28
102896                      4.8                         20
102897                     22.2                         21
102898                     12.5                         21
102899                        0                         27
102900                        0                         24
102901                      3.2                         30
102902                        0                         24
139903                        0                         42
139904                        s                          s
139905                        s                          s
139906                        s                          s
139907                      5.3                         36
139908                        s                          s
139909                        s                          s
139910                        s                          s
139911                        s                          s
139912                        0                         41
139913                        s                          s
139914                        s                          s
139915                        s                          s
139916                        s                          s
139917                        0                         42
139918                        s                          s
139919                        s                          s
139920                        s                          s
139921                        s                          s

       Percent Scoring 65 or Above Number Scoring 80 or Above  \
8                               98                         23
9                             82.4                         33
10                             100                         44
11                            98.2                         43
19489                            s                          s
19490                            s                          s
19491                            s                          s
19492                            s                          s
19493                            s                          s
19494                            s                          s
19495                         98.2                         43
54250                            s                          s
54251                         97.2                         17
54252                            s                          s
54253                            s                          s
54254                           80                         22
54255                            s                          s
54256                            s                          s
54257                          100                         34
54258                            s                          s
54259                         97.7                         34
54260                          100                          9
102895                         100                         13
102896                        95.2                         10
102897                        77.8                         17
102898                        87.5                         16
102899                         100                         22
102900                         100                         22
102901                        96.8                         22
102902                         100                         21
139903                         100                         20
139904                           s                          s
139905                           s                          s
139906                           s                          s
139907                        94.7                         30
139908                           s                          s
139909                           s                          s
139910                           s                          s
139911                           s                          s
139912                         100                         35
139913                           s                          s
139914                           s                          s
139915                           s                          s
139916                           s                          s
139917                         100                         33
139918                           s                          s
139919                           s                          s
139920                           s                          s
139921                           s                          s

       Percent Scoring 80 or Above Number Scoring CR Percent Scoring CR
8                             46.9                48                 98
9                             64.7                40               78.4
10                            86.3                50                 98
11                            78.2                na                 na
19489                            s                na                 na
19490                            s                na                 na
19491                            s                na                 na
19492                            s                na                 na
19493                            s                na                 na
19494                            s                na                 na
19495                         78.2                na                 na
54250                            s                na                 na
54251                         47.2                35               97.2
54252                            s                na                 na
54253                            s                na                 na
54254                         62.9                27               77.1
54255                            s                na                 na
54256                            s                na                 na
54257                         89.5                37               97.4
54258                            s                na                 na
54259                         79.1                na                 na
54260                           75                na                 na
102895                        46.4                28                100
102896                        47.6                20               95.2
102897                          63                20               74.1
102898                        66.7                20               83.3
102899                        81.5                26               96.3
102900                        91.7                24                100
102901                          71                na                 na
102902                        87.5                na                 na
139903                        47.6                42                100
139904                           s                na                 na
139905                           s                na                 na
139906                           s                na                 na
139907                        78.9                35               92.1
139908                           s                na                 na
139909                           s                na                 na
139910                           s                na                 na
139911                           s                na                 na
139912                        85.4                40               97.6
139913                           s                na                 na
139914                           s                na                 na
139915                           s                na                 na
139916                           s                na                 na
139917                        78.6                na                 na
139918                           s                na                 na
139919                           s                na                 na
139920                           s                na                 na
139921                           s                na                 na

In [37]:
df2nd=df1st[['Regents Exam','Percent Scoring 65 or Above']]
print(df2nd)

               Regents Exam Percent Scoring 65 or Above
8       Common Core Algebra                          98
9       Common Core Algebra                        82.4
10      Common Core Algebra                         100
11       Living Environment                        98.2
19489   Common Core Algebra                           s
19490   Common Core Algebra                           s
19491   Common Core Algebra                           s
19492   Common Core Algebra                           s
19493   Common Core Algebra                           s
19494   Common Core Algebra                           s
19495    Living Environment                        98.2
54250   Common Core Algebra                           s
54251   Common Core Algebra                        97.2
54252   Common Core Algebra                           s
54253   Common Core Algebra                           s
54254   Common Core Algebra                          80
54255   Common Core Algebra                           s
54256   Common Core Algebra                           s
54257   Common Core Algebra                         100
54258   Common Core Algebra                           s
54259    Living Environment                        97.7
54260    Living Environment                         100
102895  Common Core Algebra                         100
102896  Common Core Algebra                        95.2
102897  Common Core Algebra                        77.8
102898  Common Core Algebra                        87.5
102899  Common Core Algebra                         100
102900  Common Core Algebra                         100
102901   Living Environment                        96.8
102902   Living Environment                         100
139903  Common Core Algebra                         100
139904  Common Core Algebra                           s
139905  Common Core Algebra                           s
139906  Common Core Algebra                           s
139907  Common Core Algebra                        94.7
139908  Common Core Algebra                           s
139909  Common Core Algebra                           s
139910  Common Core Algebra                           s
139911  Common Core Algebra                           s
139912  Common Core Algebra                         100
139913  Common Core Algebra                           s
139914  Common Core Algebra                           s
139915  Common Core Algebra                           s
139916  Common Core Algebra                           s
139917   Living Environment                         100
139918   Living Environment                           s
139919   Living Environment                           s
139920   Living Environment                           s
139921   Living Environment                           s

In [47]:
df3rd=df2nd[df2nd['Regents Exam'] == 'Common Core Algebra'] 
print(df3rd)

               Regents Exam Percent Scoring 65 or Above
8       Common Core Algebra                          98
9       Common Core Algebra                        82.4
10      Common Core Algebra                         100
19489   Common Core Algebra                           s
19490   Common Core Algebra                           s
19491   Common Core Algebra                           s
19492   Common Core Algebra                           s
19493   Common Core Algebra                           s
19494   Common Core Algebra                           s
54250   Common Core Algebra                           s
54251   Common Core Algebra                        97.2
54252   Common Core Algebra                           s
54253   Common Core Algebra                           s
54254   Common Core Algebra                          80
54255   Common Core Algebra                           s
54256   Common Core Algebra                           s
54257   Common Core Algebra                         100
54258   Common Core Algebra                           s
102895  Common Core Algebra                         100
102896  Common Core Algebra                        95.2
102897  Common Core Algebra                        77.8
102898  Common Core Algebra                        87.5
102899  Common Core Algebra                         100
102900  Common Core Algebra                         100
139903  Common Core Algebra                         100
139904  Common Core Algebra                           s
139905  Common Core Algebra                           s
139906  Common Core Algebra                           s
139907  Common Core Algebra                        94.7
139908  Common Core Algebra                           s
139909  Common Core Algebra                           s
139910  Common Core Algebra                           s
139911  Common Core Algebra                           s
139912  Common Core Algebra                         100
139913  Common Core Algebra                           s
139914  Common Core Algebra                           s
139915  Common Core Algebra                           s
139916  Common Core Algebra                           s

In [48]:
df4th=df[df['School Name'] == 'P.S. 188 The Island School']
print(df4th)

       School DBN                 School Name School Level  \
12         01M188  P.S. 188 The Island School          K-8
13         01M188  P.S. 188 The Island School          K-8
14         01M188  P.S. 188 The Island School          K-8
15         01M188  P.S. 188 The Island School          K-8
16         01M188  P.S. 188 The Island School          K-8
17         01M188  P.S. 188 The Island School          K-8
18811      01M188  P.S. 188 The Island School          K-8
19436      01M188  P.S. 188 The Island School          K-8
19496      01M188  P.S. 188 The Island School          K-8
19497      01M188  P.S. 188 The Island School          K-8
19498      01M188  P.S. 188 The Island School          K-8
19499      01M188  P.S. 188 The Island School          K-8
19500      01M188  P.S. 188 The Island School          K-8
19501      01M188  P.S. 188 The Island School          K-8
19502      01M188  P.S. 188 The Island School          K-8
19503      01M188  P.S. 188 The Island School          K-8
54261      01M188  P.S. 188 The Island School          K-8
54262      01M188  P.S. 188 The Island School          K-8
54263      01M188  P.S. 188 The Island School          K-8
54264      01M188  P.S. 188 The Island School          K-8
54265      01M188  P.S. 188 The Island School          K-8
54266      01M188  P.S. 188 The Island School          K-8
54267      01M188  P.S. 188 The Island School          K-8
54268      01M188  P.S. 188 The Island School          K-8
54269      01M188  P.S. 188 The Island School          K-8
54270      01M188  P.S. 188 The Island School          K-8
54271      01M188  P.S. 188 The Island School          K-8
54272      01M188  P.S. 188 The Island School          K-8
54273      01M188  P.S. 188 The Island School          K-8
54274      01M188  P.S. 188 The Island School          K-8
102903     01M188  P.S. 188 The Island School          K-8
102904     01M188  P.S. 188 The Island School          K-8
102905     01M188  P.S. 188 The Island School          K-8
102906     01M188  P.S. 188 The Island School          K-8
102907     01M188  P.S. 188 The Island School          K-8
102908     01M188  P.S. 188 The Island School          K-8
102909     01M188  P.S. 188 The Island School          K-8
102910     01M188  P.S. 188 The Island School          K-8
102911     01M188  P.S. 188 The Island School          K-8
102912     01M188  P.S. 188 The Island School          K-8
139922     01M188  P.S. 188 The Island School          K-8
139923     01M188  P.S. 188 The Island School          K-8
139924     01M188  P.S. 188 The Island School          K-8
139925     01M188  P.S. 188 The Island School          K-8
139926     01M188  P.S. 188 The Island School          K-8
139927     01M188  P.S. 188 The Island School          K-8
139928     01M188  P.S. 188 The Island School          K-8
139929     01M188  P.S. 188 The Island School          K-8
139930     01M188  P.S. 188 The Island School          K-8
139931     01M188  P.S. 188 The Island School          K-8
139932     01M188  P.S. 188 The Island School          K-8
139933     01M188  P.S. 188 The Island School          K-8
139934     01M188  P.S. 188 The Island School          K-8
139935     01M188  P.S. 188 The Island School          K-8
139936     01M188  P.S. 188 The Island School          K-8
139937     01M188  P.S. 188 The Island School          K-8
139938     01M188  P.S. 188 The Island School          K-8

               Regents Exam  Year  Total Tested Mean Score  \
12      Common Core Algebra  2015            23       62.9
13      Common Core Algebra  2016            22         69
14      Common Core Algebra  2017            20       67.4
15      Common Core English  2016             1          s
16       Living Environment  2016            17       62.1
17       Living Environment  2017             3          s
18811   Common Core Algebra  2016             3          s
19436   Common Core Algebra  2017            19          s
19496   Common Core Algebra  2015            22          s
19497   Common Core Algebra  2015             1          s
19498   Common Core Algebra  2016            19          s
19499   Common Core Algebra  2017             1          s
19500   Common Core English  2016             1          s
19501    Living Environment  2016            15          s
19502    Living Environment  2016             2          s
19503    Living Environment  2017             3          s
54261   Common Core Algebra  2015             3          s
54262   Common Core Algebra  2015            18       62.8
54263   Common Core Algebra  2015             2          s
54264   Common Core Algebra  2016             2          s
54265   Common Core Algebra  2016            18       68.7
54266   Common Core Algebra  2016             2          s
54267   Common Core Algebra  2017             1          s
54268   Common Core Algebra  2017            13       70.8
54269   Common Core Algebra  2017             6          s
54270   Common Core English  2016             1          s
54271    Living Environment  2016             1          s
54272    Living Environment  2016            15       62.3
54273    Living Environment  2016             1          s
54274    Living Environment  2017             3          s
102903  Common Core Algebra  2015            14       63.1
102904  Common Core Algebra  2015             9       62.7
102905  Common Core Algebra  2016            11       70.5
102906  Common Core Algebra  2016            11       67.5
102907  Common Core Algebra  2017             9       69.9
102908  Common Core Algebra  2017            11       65.5
102909  Common Core English  2016             1          s
102910   Living Environment  2016            10       62.7
102911   Living Environment  2016             7       61.1
102912   Living Environment  2017             3          s
139922  Common Core Algebra  2015             3          s
139923  Common Core Algebra  2015             6         61
139924  Common Core Algebra  2015            11       61.5
139925  Common Core Algebra  2015             3          s
139926  Common Core Algebra  2016             1          s
139927  Common Core Algebra  2016             7          s
139928  Common Core Algebra  2016            14       69.9
139929  Common Core Algebra  2017             7          s
139930  Common Core Algebra  2017            11       68.6
139931  Common Core Algebra  2017             2          s
139932  Common Core English  2016             1          s
139933   Living Environment  2016             6          s
139934   Living Environment  2016            10       63.2
139935   Living Environment  2016             1          s
139936   Living Environment  2017             1          s
139937   Living Environment  2017             1          s
139938   Living Environment  2017             1          s

       Number Scoring Below 65 Percent Scoring Below 65  \
12                          14                     60.9
13                           6                     27.3
14                           7                       35
15                           s                        s
16                           9                     52.9
17                           s                        s
18811                        s                        s
19436                        s                        s
19496                        s                        s
19497                        s                        s
19498                        s                        s
19499                        s                        s
19500                        s                        s
19501                        s                        s
19502                        s                        s
19503                        s                        s
54261                        s                        s
54262                       11                     61.1
54263                        s                        s
54264                        s                        s
54265                        5                     27.8
54266                        s                        s
54267                        s                        s
54268                        3                     23.1
54269                        s                        s
54270                        s                        s
54271                        s                        s
54272                        8                     53.3
54273                        s                        s
54274                        s                        s
102903                       8                     57.1
102904                       6                     66.7
102905                       2                     18.2
102906                       4                     36.4
102907                       1                     11.1
102908                       6                     54.5
102909                       s                        s
102910                       6                       60
102911                       3                     42.9
102912                       s                        s
139922                       s                        s
139923                       4                     66.7
139924                       9                     81.8
139925                       s                        s
139926                       s                        s
139927                       s                        s
139928                       4                     28.6
139929                       s                        s
139930                       3                     27.3
139931                       s                        s
139932                       s                        s
139933                       s                        s
139934                       4                       40
139935                       s                        s
139936                       s                        s
139937                       s                        s
139938                       s                        s

       Number Scoring 65 or Above Percent Scoring 65 or Above  \
12                              9                        39.1
13                             16                        72.7
14                             13                          65
15                              s                           s
16                              8                        47.1
17                              s                           s
18811                           s                           s
19436                           s                           s
19496                           s                           s
19497                           s                           s
19498                           s                           s
19499                           s                           s
19500                           s                           s
19501                           s                           s
19502                           s                           s
19503                           s                           s
54261                           s                           s
54262                           7                        38.9
54263                           s                           s
54264                           s                           s
54265                          13                        72.2
54266                           s                           s
54267                           s                           s
54268                          10                        76.9
54269                           s                           s
54270                           s                           s
54271                           s                           s
54272                           7                        46.7
54273                           s                           s
54274                           s                           s
102903                          6                        42.9
102904                          3                        33.3
102905                          9                        81.8
102906                          7                        63.6
102907                          8                        88.9
102908                          5                        45.5
102909                          s                           s
102910                          4                          40
102911                          4                        57.1
102912                          s                           s
139922                          s                           s
139923                          2                        33.3
139924                          2                        18.2
139925                          s                           s
139926                          s                           s
139927                          s                           s
139928                         10                        71.4
139929                          s                           s
139930                          8                        72.7
139931                          s                           s
139932                          s                           s
139933                          s                           s
139934                          6                          60
139935                          s                           s
139936                          s                           s
139937                          s                           s
139938                          s                           s

       Number Scoring 80 or Above Percent Scoring 80 or Above  \
12                              0                           0
13                              2                         9.1
14                              1                           5
15                              s                           s
16                              0                           0
17                              s                           s
18811                           s                           s
19436                           s                           s
19496                           s                           s
19497                           s                           s
19498                           s                           s
19499                           s                           s
19500                           s                           s
19501                           s                           s
19502                           s                           s
19503                           s                           s
54261                           s                           s
54262                           0                           0
54263                           s                           s
54264                           s                           s
54265                           2                        11.1
54266                           s                           s
54267                           s                           s
54268                           1                         7.7
54269                           s                           s
54270                           s                           s
54271                           s                           s
54272                           0                           0
54273                           s                           s
54274                           s                           s
102903                          0                           0
102904                          0                           0
102905                          1                         9.1
102906                          1                         9.1
102907                          0                           0
102908                          1                         9.1
102909                          s                           s
102910                          0                           0
102911                          0                           0
102912                          s                           s
139922                          s                           s
139923                          0                           0
139924                          0                           0
139925                          s                           s
139926                          s                           s
139927                          s                           s
139928                          2                        14.3
139929                          s                           s
139930                          0                           0
139931                          s                           s
139932                          s                           s
139933                          s                           s
139934                          0                           0
139935                          s                           s
139936                          s                           s
139937                          s                           s
139938                          s                           s

       Number Scoring CR Percent Scoring CR
12                     2                8.7
13                    15               68.2
14                    10                 50
15                    na                 na
16                    na                 na
17                    na                 na
18811                 na                 na
19436                 na                 na
19496                 na                 na
19497                 na                 na
19498                 na                 na
19499                 na                 na
19500                 na                 na
19501                 na                 na
19502                 na                 na
19503                 na                 na
54261                 na                 na
54262                  2               11.1
54263                 na                 na
54264                 na                 na
54265                 12               66.7
54266                 na                 na
54267                 na                 na
54268                  9               69.2
54269                 na                 na
54270                 na                 na
54271                 na                 na
54272                 na                 na
54273                 na                 na
54274                 na                 na
102903                 1                7.1
102904                 1               11.1
102905                 8               72.7
102906                 7               63.6
102907                 5               55.6
102908                 5               45.5
102909                na                 na
102910                na                 na
102911                na                 na
102912                na                 na
139922                na                 na
139923                 0                  0
139924                 0                  0
139925                na                 na
139926                na                 na
139927                na                 na
139928                10               71.4
139929                na                 na
139930                 6               54.5
139931                na                 na
139932                na                 na
139933                na                 na
139934                na                 na
139935                na                 na
139936                na                 na
139937                na                 na
139938                na                 na

In [51]:
df5th=df4th[['Regents Exam','Percent Scoring 65 or Above']]
print(df5th)

               Regents Exam Percent Scoring 65 or Above
12      Common Core Algebra                        39.1
13      Common Core Algebra                        72.7
14      Common Core Algebra                          65
15      Common Core English                           s
16       Living Environment                        47.1
17       Living Environment                           s
18811   Common Core Algebra                           s
19436   Common Core Algebra                           s
19496   Common Core Algebra                           s
19497   Common Core Algebra                           s
19498   Common Core Algebra                           s
19499   Common Core Algebra                           s
19500   Common Core English                           s
19501    Living Environment                           s
19502    Living Environment                           s
19503    Living Environment                           s
54261   Common Core Algebra                           s
54262   Common Core Algebra                        38.9
54263   Common Core Algebra                           s
54264   Common Core Algebra                           s
54265   Common Core Algebra                        72.2
54266   Common Core Algebra                           s
54267   Common Core Algebra                           s
54268   Common Core Algebra                        76.9
54269   Common Core Algebra                           s
54270   Common Core English                           s
54271    Living Environment                           s
54272    Living Environment                        46.7
54273    Living Environment                           s
54274    Living Environment                           s
102903  Common Core Algebra                        42.9
102904  Common Core Algebra                        33.3
102905  Common Core Algebra                        81.8
102906  Common Core Algebra                        63.6
102907  Common Core Algebra                        88.9
102908  Common Core Algebra                        45.5
102909  Common Core English                           s
102910   Living Environment                          40
102911   Living Environment                        57.1
102912   Living Environment                           s
139922  Common Core Algebra                           s
139923  Common Core Algebra                        33.3
139924  Common Core Algebra                        18.2
139925  Common Core Algebra                           s
139926  Common Core Algebra                           s
139927  Common Core Algebra                           s
139928  Common Core Algebra                        71.4
139929  Common Core Algebra                           s
139930  Common Core Algebra                        72.7
139931  Common Core Algebra                           s
139932  Common Core English                           s
139933   Living Environment                           s
139934   Living Environment                          60
139935   Living Environment                           s
139936   Living Environment                           s
139937   Living Environment                           s
139938   Living Environment                           s

In [53]:
df6th=df5th[df5th['Regents Exam'] == 'Common Core Algebra'] 
print(df6th)

               Regents Exam Percent Scoring 65 or Above
12      Common Core Algebra                        39.1
13      Common Core Algebra                        72.7
14      Common Core Algebra                          65
18811   Common Core Algebra                           s
19436   Common Core Algebra                           s
19496   Common Core Algebra                           s
19497   Common Core Algebra                           s
19498   Common Core Algebra                           s
19499   Common Core Algebra                           s
54261   Common Core Algebra                           s
54262   Common Core Algebra                        38.9
54263   Common Core Algebra                           s
54264   Common Core Algebra                           s
54265   Common Core Algebra                        72.2
54266   Common Core Algebra                           s
54267   Common Core Algebra                           s
54268   Common Core Algebra                        76.9
54269   Common Core Algebra                           s
102903  Common Core Algebra                        42.9
102904  Common Core Algebra                        33.3
102905  Common Core Algebra                        81.8
102906  Common Core Algebra                        63.6
102907  Common Core Algebra                        88.9
102908  Common Core Algebra                        45.5
139922  Common Core Algebra                           s
139923  Common Core Algebra                        33.3
139924  Common Core Algebra                        18.2
139925  Common Core Algebra                           s
139926  Common Core Algebra                           s
139927  Common Core Algebra                           s
139928  Common Core Algebra                        71.4
139929  Common Core Algebra                           s
139930  Common Core Algebra                        72.7
139931  Common Core Algebra                           s